<module>
	<rawname>trunkbalance</rawname>
	<name>Trunk Balance</name>
	<version>0.0.4.3</version>
	<publisher>projects.colsolgrp.net</publisher>
		<candisable>yes</candisable>
	<canuninstall>yes</canuninstall>
	<type>setup</type>
	<category>Third Party Addon</category>
	<changelog>
		*0.0.4.3* Allow balance of DAHDI trunks
		*0.0.4.2* bug fix
		*0.0.4.1* added timeconditions module dependency
		*0.0.4* added time condition
		*0.0.3.3* bug fix
		*0.0.3.2* bug fix
		*0.0.3* freePBX 2.6 dependency
		*0.0.2* display bug with Freepbx 2.5; improved uninstall. 
		*0.0.1* alpha release
	</changelog>	
	<depends>
		<module>core</module>
              <version>lt 2.10.0alpha0</version>
              <module>timeconditions ge2.6</module>
	</depends>
	<description>Allow to balance your outbound calls between different trunks</description>
	<menuitems>
		<trunkbalance>Trunk Balance</trunkbalance>
	</menuitems>
	<info>http://projects.colsolgrp.net/wiki/trunkbalance/User_Manual</info>
	<location>http://projects.colsolgrp.net/projects/list_files/trunkbalance</location>

</module>